@import url("https://fonts.googleapis.com/css?family=Cousine&display=swap");
body {
  margin: 0;
  font-family: Cousine, monospace;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

pre {
  margin: 0;
  overflow: auto;
  max-height: 100vh;
}
