@import url("https://fonts.googleapis.com/css?family=Cousine:400,700&display=swap");
@import url("https://rsms.me/inter/inter.css");

body {
  margin: 0;
  font-family: Cousine, monospace;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  transition: background 0.2s;
}

pre {
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  background: hsl(208, 20%, 58%);
  height: 1px;
  position: relative;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid hsl(208, 20%, 58%);
  background: hsl(208, 20%, 95%);
}

mark {
  background: hsl(208, 20%, 43%);
  padding: 2px 4px;
  color: white;
  border-radius: 2px;
  font-size: 11px;
}
